#container {
  width: 940px;
  margin: 0 auto;
}

#title {
  margin-bottom: 20px;
  color: rgb(0, 99, 160);
  font-size: 65px;
  font-weight: bold;
}

#container-cada-funcionario {
  display: flex;
  justify-content: space-evenly;
}
