/* Header - Início */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e718f;
  height: 90px;
  /* margin-left: 2%;
    width: 95%; */
}

#logo {
  width: 196px;
  height: 90px;
}

nav {
  margin: 0 auto;
}

#links {
  display: flex;
  list-style-type: none;
}

#links li a {
  align-items: center;
  padding: 0px 15px;
  display: flex;
  max-width: 100%;
  height: 90px;
  font-size: 15pt;
}

#links li :hover {
  color: rgb(170, 170, 170);
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: white;
}

/* Header - Fim */
