/* Header - Início */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e718f;
  height: 90px;
}

#logo {
  width: 196px;
  height: 95px;
}

nav {
  margin: 0 auto;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 90px;
  font-size: 15pt;
}

ul li :hover {
  color: rgb(170, 170, 170);
  transition: 0.5s;
}

.inativo {
  padding: 0px 10px;
  text-decoration: none;
  color: white;
}

.ativo {
  padding: 0px 10px;
  text-decoration: none;
  color: rgb(170, 170, 170);
}

/* Header - Fim */